.container {
  & h1 {
    margin-top: var(--size-m);
    margin-bottom: var(--size-s);
    font-weight: 500;
    font-size: 36px;
  }

  & h2 {
    margin-top: var(--size-m);
    margin-bottom: var(--size-s);
    font-weight: 500;
    font-size: 28px;
  }

  & h3 {
    margin-top: var(--size-m);
    margin-bottom: var(--size-s);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }

  & h4 {
    margin-top: var(--size-m);
    margin-bottom: var(--size-s);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }

  & p {
    font-size: 16px;
    margin-bottom: var(--size-s);
    line-height: 1.75;
  }

  & a {
    text-decoration: none;
  }

  & blockquote {
    border-left: var(--size-xxs) solid var(--primary);
    padding-left: var(--size-s);
    margin-bottom: var(--size-s);
    font-weight: 500;
    line-height: 1.75;
  }

  & pre {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    margin-bottom: var(--size-s);
  }

  & code {
    width: 100%;
  }

  & figure {
    border: 2px solid red;
  }

  & img {
    border-radius: var(--size-xxs);
  }
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: var(--size-s);
}

.header {
  margin-bottom: var(--size-m);
}

.title {
  color: var(--fg-high);
}

.subtitle {
  margin-bottom: var(--size-s);
  color: var(--fg-medium);
}
