.container {
  padding-bottom: var(--size-m);
  margin-bottom: var(--size-m);
  border-bottom: 1px solid var(--fg-low);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: var(--size-xxs);
}

.title a {
  display: block;
  color: var(--fg-high);
  text-decoration: none;
  margin-bottom: var(--size-xs);
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--fg-medium);
}

.time {
  display: block;
  margin-top: var(--size-s);
  color: var(--fg-medium);
  font-size: 14px;
}
