.container {
  padding-top: var(--size-l);
  padding-bottom: var(--size-l);
  background: var(--bg);
  background-image: radial-gradient(var(--primary-dark) 1px, transparent 0);
  background-size: 16px 16px;
  transition: background 200ms;
  will-change: background;
  margin-bottom: var(--size-m);
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.backdrop {
  background: var(--bg);
  width: 80%;
  padding: var(--size-s) var(--size-s);
  transition: background 200ms;
  will-change: background;
  margin: 0 -1px;
}

.cta {
  display: inline-block;
  margin-top: var(--size-s);
  margin-right: var(--size-m);
  color: var(--fg-medium);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color 300ms;

  &:hover {
    color: var(--fg-high);
  }
}
