.container {
  padding-top: var(--size-l);
  padding-bottom: var(--size-l);
  background: var(--bg);
  background-image: radial-gradient(var(--fg-medium) 1px, transparent 0);
  background-size: 24px 24px;
  transition: background 200ms;
  will-change: background;

  @media (--desktop) {
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xl);
  }
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.backdrop {
  background: var(--bg);
  width: 80%;
  padding: var(--size-m) var(--size-s);
  transition: background 200ms;
  will-change: background;

  @media (--desktop) {
    margin-left: -32px;
    padding-left: 48px;
  }
}
