.h1 {
  color: var(--fg-high);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.h2 {
  color: var(--fg-high);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  strong {
    font-weight: 600;
    color: var(--fg-high);
  }
}

.h3 {
  color: var(--fg-high);
  font-size: 24px;
}

.h4 {
  color: var(--fg-high);
  font-size: 12px;
}

.link {
  color: var(--primary);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.inverted {
  color: var(--bg);
}
