.h1 {
  color: var(--fg-high);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--size-xs);

  @media (--desktop) {
    font-size: 40px;
  }
}

.h2 {
  color: #666666;
  font-size: 18px;
  line-height: 1.25;

  strong {
    font-weight: 600;
    color: var(--fg-high);
  }

  @media (--desktop) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 24px;
}

.h4 {
  color: var(--fg-high);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.link {
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.inverted {
  color: var(--bg);
}