.h1 {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;

  @media (--desktop) {
    font-size: 36px;
  }
}

.h2 {
  color: #666666;
  font-size: 18px;
  margin-top: var(--size-xs);
  line-height: normal;

  strong {
    font-weight: 600;
    color: var(--black);
  }

  @media (--desktop) {
    font-size: 24px;
  }
}

.h3 {
  font-size: 24px;
}
