.container {
  background: var(--bg);
  will-change: background-color;
  transition: background-color 200ms;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;

  @media (--tablet-landscape) {
    display: flex;
    justify-content: space-between;
    padding: var(--size-xs);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-s);

  @media (--tablet-landscape) {
    padding: 0 var(--size-s);
  }
}

.button {
  padding: 4px;
  margin: 0;
  line-height: 0;
  border: 0;
  background: transparent;

  @media (--tablet-landscape) {
    display: none;
  }
}

.list {
  display: none;

  @media (--tablet-landscape) {
    display: flex;
  }
}

.list.open {
  display: flex;
  flex-direction: column;

  @media (--tablet-landscape) {
    flex-direction: row;
  }
}

.link {
  position: relative;
  padding: var(--size-s);
  border-bottom: 1px solid var(--fg-low);

  @media (--tablet-landscape) {
    border: 0;
    margin-right: var(--size-m);

    &:after {
      position: absolute;
      top: 6px;
      left: calc(50% - 3px);
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: var(--primary-dark);
      border-radius: 50%;
      transform: translateY(-24px);
      transition: transform 150ms;
    }

    &:hover:after {
      transform: translateY(0);
    }

    &.active:after {
      transform: translateY(0);
    }
  }
}

.link:first-child {
  border-top: 1px solid var(--fg-low);

  @media (--tablet-landscape) {
    border-top: 0;
  }
}

.link:last-child {
  @media (--tablet-landscape) {
    margin-right: 0;
  }
}
