@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  background: var(--bg);
  transition: background 200ms;
  will-change: background;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: var(--size-s) var(--size-s);

  @media (--desktop) {
    padding: var(--size-m) var(--size-s);
  }
}

.title {
  width: auto;
  position: relative;
  color: var(--fg-high);
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: var(--size-xs);
}

.title:after {
  opacity: 0;
  content: "::";
  position: absolute;
  right: calc(-1 * var(--size-m));
  top: 0;
  line-height: 1.45;
  color: var(--fg-low);
  font-size: 32px;

  letter-spacing: 0.1em;
  animation-name: fade;
  animation-duration: 300ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;

  @media (--desktop) {
    display: block;
  }
}

.subtitle {
  color: var(--fg-medium);
  font-size: 14px;
}
