@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  background: var(--bg);
  transition: background 200ms;
  will-change: background;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: 48px var(--size-s) var(--size-s);
}

.title {
  width: auto;
  position: relative;
  color: var(--fg-high);
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: var(--size-xs);
}

.title:after {
  opacity: 0;
  content: "::";
  position: absolute;
  right: -20px;
  top: 0;
  line-height: 1.5;
  color: var(--fg-low);
  font-size: 20px;

  letter-spacing: 0.1em;
  animation-name: fade;
  animation-duration: 300ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}
