.container {
  background-color: var(--bg);
  will-change: background-color;
  transition: background-color 200ms;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: var(--size-s);
}

.title {
  margin-bottom: var(--size-s);
  font-size: 20px;
  color: var(--fg-medium);
}
