.container {
  border: 1px solid lightblue;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: var(--size-s);
}

.grid {
  display: grid;
  grid-gap: var(--size-s);
  grid-template-columns: 1fr;

  @media (--tablet-portrait) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--tablet-landscape) {
    grid-template-columns: repeat(3, 1fr);
  }
}
