.container {
  @media (--tablet-portrait) {
    padding-top: var(--size-m);
    padding-bottom: var(--size-m);
  }
}

.wrapper {
  padding: var(--size-s);
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.copyright {
  color: var(--fg-medium);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
