body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
  font-family: var(--system-ui);
}

::selection {
  background: #fadf52;
}

.rotonda-drawing {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotonda-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation-name: rotonda-fade;
  animation-duration: 500ms;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
