html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
  font-family: var(--font-stack);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--bg);
  will-change: background-color;
  transition: background-color 200ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #fadf52;
}
