:root {
  --common-accent: #ff9940;
  --common-bg: #fafafa;
  --common-fg: #6c7680;
  --common-selection: #e8eef4;
  --syntax-tag: #55b4d4;
  --syntax-func: #f2ae49;
  --syntax-entity: #399ee6;
  --syntax-string: #86b300;
  --syntax-comment: #abb0b6;
  --syntax-operator: #ed9366;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--common-bg);
  color: var(--common-fg);
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--common-selection);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--common-selection);
}

/* Code blocks */
pre[class*="language-"] {
  padding: var(--size-s);
  margin: var(--size-xs) 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--syntax-comment);
}

.token.punctuation {
  color: var(--common-fg);
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.number {
  color: var(--syntax-operator);
}

.token.tag,
.token.tag-id,
.token.selector,
.token.atrule-id {
  color: var(--syntax-tag);
}

.token.property,
.token.function {
  color: var(--syntax-func);
}

code.language-javascript,
.token.attr-name {
  color: var(--syntax-entity);
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: var(--common-accent);
}

.token.string {
  color: var(--syntax-string);
}

.token.placeholder,
.token.variable {
  color: var(--common-fg);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f0fff0;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: var(--common-accent);
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid var(--common-selection);
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #2c302c;
}

.line-numbers-rows > span:before {
  color: #3b423b;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
  background: rgba(162, 179, 77, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(162, 179, 77, 0.2) 70%,
    rgba(162, 179, 77, 0)
  );
  background: linear-gradient(
    to right,
    rgba(162, 179, 77, 0.2) 70%,
    rgba(162, 179, 77, 0)
  );
}
