:root {
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 32px;
  --size-l: 64px;
  --size-xl: 128px;

  --wrapper-width: 944px;

  --background: #ffffff;
  --black: #24292E;
  --white: #ffffff;
  --primary: #0076FF;
  --grey: #ebebeb;
  --accent: red;

  --system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@custom-media --tablet-portrait (min-width: 600px);
@custom-media --tablet-landscape (min-width: 900px);
@custom-media --desktop (min-width: 1200px);
@custom-media --desktop-large (min-width: 1800px);
